<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">productz</h1>
            <h3 class="mb-5">
                <em>crie. envie. atualize. <span>venda.</span></em>
            </h3>
            <a class="btn btn-danger btn-lg" href="/signup">
                COMEÇAR
            </a>
            <h6 style="margin-top: 0.5rem">Já tem uma conta? <a href="/signin"> Entrar </a></h6>
        </div>
        <div class="overlay"></div>
    </header>
</main>